
body{
    font-size: 12px;
  }
  
  div {
    display: block;
  }
  
  form {
    display: block;
  }
  
  a{
    color: #385898;
    text-decoration: none;
  }
  
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }
  
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  
  tr {
    display: table-row;
    vertical-align: top;
    border-color: inherit;
  }
  
  td {
    display: table-cell;
    vertical-align: inherit;
    padding: 0 0 0 14px;
    text-align: left;
  }
  
  label {
    font-size: 14px;
    color: #fff;
    cursor: default;
    vertical-align: middle;
  }
  
  input {
      text-rendering: auto;
      color: -internal-light-dark-color(black, white);
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      -webkit-appearance: textfield;
      background-color: -internal-light-dark-color(white, black);
      -webkit-rtl-ordering: logical;
      cursor: text;
      margin: 0em;
      font: 400 13.3333px Arial;
      padding: 1px 0px;
      border-width: 2px;
      border-style: inset;
      border-color: initial;
      border-image: initial;
  
  }

  option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

select {
  font-size: 13px;
  height: 30px;
  padding: 5px;
  background-color: #fff;
  color: #1c1e21;
  border: 1px solid #ccd0d5;
}
  
  .input-text {
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
    padding-bottom: 4px;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    border-radius: 0;
    margin: 0;
    padding: 3px;
  
  }
  
  .fb-Logo{
    width: 170px;
    height: 34px;
    background-position: 0 -245px;
  }
  
  .uiButtonConfirm{
    background-color: #4267b2;
    border-color: #29487d;
  }
  
  .LoginButton{
    background: none;
      border: 0;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 18px;
      margin: 0;
      padding: 0;
      white-space: nowrap;
  
  }
  
  .forgot-password{
    font-size: 12px;
    color: #9cb4d8;
      font-weight: normal;
  }
  
  .loginContainer{
    margin: 0 auto;
      position: relative;
      zoom: 1;
  }
  
  .centerContent{
    margin: auto;
    width: 980px;
    display: flex;
  }
  
  .LoginInfomation-label{
    font-size: 36px;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
  }
  
  .LoginInfomation-guide{
    font-weight: normal !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    font-size: 19px;
    line-height: 126%;
    margin-bottom: 20px;
  }
  
  .LoginInfomation-user{
    flex: 0 0 33.3333%;
    margin: 0 0 20px 0;
    
  }
  
  .LoginInfomation-user-block{
    width: 160px;
    position: relative;
  }
  
  
  .LoginInfomation-user-image{
    border-radius: 4px;
    box-shadow: 0 0 0 1px #dddfe2;
    display: block;
    transition: all .2s ease-out;
  }
  
  .LoginInfomation-user-image > img {
    align-items: center;
      background-color: #f5f6f7;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      display: flex;
      height: 160px;
      justify-content: center;
      width: 160px;
  }
  
  .LoginInfomation-user-image > img{
    background-color: #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
      text-align: center;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 160px;
      color: #4b4f56;
      font-size: 18px;
      line-height: 22px;
  }
  
  .LoginInfomation-user-name{
    color: black;
    background-color: #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
      padding: 12px 0;
      text-align: center;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 160px;
      font-size: 18px;
      line-height: 22px;
  }
  
  .Witdh160px{
    width: 160px;
  }
  
  .LoginInfomation-action{
    white-space: normal;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    font-size: 18px;
      line-height: 22px;
  }
  
  .AddIcon{
    width: 42px;
    height: 42px;
    background-position: 0 -171px;
  }
  
  
  .SignUp-label{
    font-size: 36px;
    font-weight: bold !important;
      letter-spacing: normal;
      text-rendering: optimizelegibility;
      line-height: 120%;
      margin-bottom: 5px;
  }
  
  .SignUp-guide{
    font-weight: normal !important;
      letter-spacing: normal;
      text-rendering: optimizelegibility;
      font-size: 19px;
      line-height: 126%;
      margin-bottom: 20px;
  
  }
  
  .Witdh399px{
    width: 399px;
  }
  
  .InputName-left{
    float: left;
    margin-right: 8px;
  }
  
  .PositionRelative{
    position: relative;
  }
  
  .InputName-FirstName{
    width: 172px;
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    background-color: transparent;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
  }
  
  .InputName-right{
    float: right;
  }
  
  .Input-LastName{
    width: 172px;
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
      border-radius: 5px;
      margin: 0;
      background-color: transparent;
      position: relative;
      -webkit-appearance: none;
      border: 1px solid #ccd0d5;
  }
  
  .InputUsername{
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
    background-color: transparent;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
  
  }
  
  .InputPassword{
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
    background-color: transparent;
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
  }
  
  .BirthDay-label{
    color: #90949c;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding-left: 10px;
    display: inline-block;
  }
  
  #contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
  }
  
  .FooterUI > li{
    padding-left: 20px;
  }