body{
    font-family: 'Montserrat', sans-serif;

}

main{
    display: flex;
    width: 100%;
    min-height: 600px;
}
#left{
    flex: 1;
    background-image: url(./bg1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

#right{
    flex: 1;
    background-color: white;
}

section{
    padding: 1em 6em ;
}

#right div {

    height: 23%;
}

.circle-image{
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.center-left-section{
    position: relative;
    display: flex;
    text-align: center;
    height: 100%;
}
.avatar{
    
    position: absolute;
    top: 35%;
    left: 50%;
  
    transform: translate(-50%, -50%);
     /* transform: translate(-50%, -50%); */
}

.content{
    position: absolute;
    top: 47%;

}
.mail-button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    max-width: 120px !important;
}

.mail-button a {
    text-decoration: none;
    color: white !important;
}

h3{
    font-weight: bolder;
    color: crimson;
}

.right-buttons{
    color: cornflowerblue;
}